@using MyTinyBlog.Web.MyTinyBlog.Web.ViewModels.Blog
@model CategoryViewModel

@{
    ViewBag.Title = "Delete category";
}

<h2>Delete category</h2>

<h3>Are you sure you want to delete this?</h3>
<div class="row" id="categoryDelete">
    <div class="form_settings">

        <div>
            <span>
                @Html.DisplayNameFor(model => model.Name) :
                @Html.DisplayFor(model => model.Name)
            </span>
        </div>
        <div>
            <span>
                @Html.DisplayNameFor(model => model.Description) :
                @Html.DisplayFor(model => model.Description)
            </span>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input class="submit" type="submit" value="Delete" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.ActionLink("Back to Manage", "Manage")
                </div>
            </div>
        }
    </div>
</div>

