@using MyTinyBlog.Web.MyTinyBlog.Web.ViewModels.Blog
@model ManageViewModel
<h2>Manage</h2>

<div>
    <p>
        @Html.ActionLink("Manage user roles", "ManageUserRoles", "Roles")
    </p>
</div>

<div>
    <p>
        @Html.ActionLink("Create new Post", "AddPost", "Admin")
    </p>
</div>

<div>
    <p>
        @Html.ActionLink("Create new Category", "AddCategory", "Admin")
    </p>
</div>

<table>
    <tr>
        <th>Post title</th>
        <th>Created</th>
        <th>Details</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    @foreach (var item in Model.Posts)
    {
        <tr>
            <td>@Html.DisplayFor(model => item.Title)</td>
            <td>@Html.DisplayFor(model => item.CreatedOn)</td>
            <td>
                @Html.ActionLink("Go", "post", "blog",
            new
            {
                year = item.CreatedOn.Year,
                month = item.CreatedOn.Month,
                day = item.CreatedOn.Day,
                title = item.UrlSlug
            },
            new { title = "Go" })
            </td>
            <td>@Html.ActionLink("Edit", "EditPost", new { id = item.Id })</td>
            <td>@Html.ActionLink("Delete", "DeletePost", new { id = item.Id })</td> 
        </tr>
    }
</table>

<table>
    <tr>
        <th>Category name</th>
        <th>Description</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    @foreach (var item in Model.Categories)
    {
        <tr>
            <td>@Html.DisplayFor(model => item.Name)</td>
            <td>@Html.DisplayFor(model => item.Description)</td>
            <td>@Html.ActionLink("Edit", "EditCategory", new { id = item.Id })</td>
            <td>@Html.ActionLink("Delete", "DeleteCategory", new { id = item.Id })</td>
        </tr>
    }
</table>





