@using MyTinyBlog.Web.MyTinyBlog.Web.ViewModels.Blog
@model IEnumerable<BlogPostViewModel>
<h2>Manage</h2>

<table>
    <tr>
        <th>Post title</th>
        <th>Created</th>
        <th>Details</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(model => item.Title)</td>
            <td>@Html.DisplayFor(model => item.CreatedOn)</td>
            <td>
                @Html.ActionLink("Go", "post", "blog",
            new
            {
                year = item.CreatedOn.Year,
                month = item.CreatedOn.Month,
                day = item.CreatedOn.Day,
                title = item.UrlSlug
            },
            new { title = "Go" })
            </td>
            <td>@Html.ActionLink("Edit", "Edit", new { id = item.Id })</td> @*TODO*@
            <td>@Html.ActionLink("Delete", "Delete", new { id = item.Id })</td> @*TODO*@
        </tr>
    }
</table>
<div>
    <p>
        @Html.ActionLink("Add new Post", "AddPost", "Admin")
    </p>
</div>





