@model MyTinyBlog.Web.MyTinyBlog.Web.ViewModels.Manage.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <div>
        <p>
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
        </p>
    </div>
    <div>
        @Html.ActionLink("My Posts", "MyPosts", "Blog")
    </div>
</div>
