@using MyTinyBlog.Web.Extensions
@model MyTinyBlog.Web.MyTinyBlog.Web.ViewModels.Blog.BlogPostViewModel

<div class="post">
    <div class="post-meta">
        <div class="row">

            <!--Heading-->
            <div class="post-title">
                <h2>@Html.PostLink(Model)</h2>
            </div>

        </div>

        <div class="row">

            <!--Category-->
            <div class="post-category">
                <span>Category: </span>@Html.CategoryLink(Model.Category)
            </div>

            <!--Tags-->
            <div class="post-tags">
                <span>Tags:</span>@Helpers.Tags(Html, Model.Tags)
            </div>

            <!--Posted date-->
            <div class="posted-date">
                @Model.CreatedOn      @*.ToConfigLocalTime()*@
            </div>

        </div>

    </div>

    <!--Short Description-->
    <div class="post-body">
        @Html.Raw(Model.ShortContent)
    </div>

    <div class="post-foot">
        @Html.ActionLink("continue...", "post", "blog",
        new
        {
            year = Model.CreatedOn.Year,
            month = Model.CreatedOn.Month,
            day = Model.CreatedOn.Day,
            title = Model.UrlSlug
        },
        new { title = "continue..." }
    )
    </div>
</div>
